<?xml version="1.0"?>
<config>
    <!--<modules>
        <Linux4ever_MagentoXtender>
            <version>0.1.0</version>
        </Linux4ever_MagentoXtender>
    </modules>-->
    <global>
        <models>
            <magentoxtender>
                <class>Linux4ever_MagentoXtender_Model</class>
            </magentoxtender>
        </models>
        <resources>
            <magentoxtender_setup>
                <setup>
                    <module>Linux4ever_MagentoXtender</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </magentoxtender_setup>
            <magentoxtender_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </magentoxtender_write>
            <magentoxtender_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </magentoxtender_read>
        </resources>
        <blocks>
            <magentoxtender>
                <class>Linux4ever_MagentoXtender_Block</class>
            </magentoxtender>
        </blocks>
        <helpers>
            <magentoxtender>
                <class>Linux4ever_MagentoXtender_Helper</class>
            </magentoxtender>
        </helpers>
    </global>
</config>