<?xml version="1.0"?>
<config>
    <modules>
        <Bippo_MagentoXtender>
            <version>2.0.0</version>
        </Bippo_MagentoXtender>
    </modules>
    <global>
        <models>
            <magentoxtender>
                <class>Bippo_MagentoXtender_Model</class>
            </magentoxtender>
        </models>
        <resources>
            <magentoxtender_setup>
                <setup>
                    <module>Bippo_MagentoXtender</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </magentoxtender_setup>
            <magentoxtender_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </magentoxtender_write>
            <magentoxtender_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </magentoxtender_read>
        </resources>
        <blocks>
            <magentoxtender>
                <class>Bippo_MagentoXtender_Block</class>
            </magentoxtender>
        </blocks>
        <helpers>
            <magentoxtender>
                <class>Bippo_MagentoXtender_Helper</class>
            </magentoxtender>
        </helpers>
    </global>
</config>